/* style for all */
*,*::after,*::before{
    margin: 0; padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* style for all End */
:root {
    --maincolor: #1e90ff;
}
/* Nav */
nav{
    position:fixed;
    width: 100vw;
    height: 20px;
    z-index: 10;
    transition: all .3s ease;

}
nav.animate{
    background-color: #eee;
}
/* Nav End */
/* Home */
.home{
    background-image:url('../assets/1.jpg');
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.home .background{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.home .content >*{
    overflow: hidden;
}
.home .content .image_wrap{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 33px;
    position: relative;
    z-index: 2;
    
}
.home .content .image_wrap .main{
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
.home .content .image_wrap .bg{
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.08);
    z-index: -2;
}

/* name */
.home .content .name{
    margin-top: 10px;
    margin-bottom: 10px;
}
.home .content .name p{
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 800;
    font-family: sans-serif;
}
/* rol-job */
.home .content .rol-job {
    display: inline-flex;
}
.home .content .rol-job  .static-text{
    color: #eee;
    font-size: 60px;
    font-weight: 400;
}
.home .content .rol-job .dynamic-text{
    margin-left: 15px;
    color:var(--maincolor);
    font-size: 60px;
}
.dynamic-text > .txt {
    border-right: 1px solid var(--maincolor);
    animation: blink-caret .75s  infinite;
    color: var(--maincolor);
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    0%{ border-color: transparent }
    50% { border-color: var(--maincolor); }
}

/* Home  End */
/* About */
.about{
    width: 100vw;
    height: 100vh;
    padding: 10px 80px ;
}
.about > *{
    overflow: hidden;
}
/* Header About */
.about header{
    padding: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.about header h2{
    color: var(--maincolor);
    font-size: 64px;
    font-weight: 600;

}
.about header h3{
    font-size: 34px;
}
/* Header About End */
/* content About */
.about .content{
    width: 100%;
    height: 80%;

}
/* left content */
.about .content .left{
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-bottom: 33px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.about .content .left .main{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid #fff;
}
.about .content .left .bg{
    position: absolute;
    content: "";
    top: 25px;
    bottom: 10px;
    left: 25px;
    right: 10px;
    background-color: var(--maincolor);
    z-index: -2;
    border-radius: 1%;
}
/* left content End*/
/* right content */
.about .content .right{
    width: 60%;
    height: 100%;
    float:right;
    padding: 10px;
}
.about .content .right h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about .content .right  p{
    width: 80%;
    font-size: 16px;
}
/* right info  */
.about .content .right .info{
    width: 60%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}
.about .content .right .info >li {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}
.about .content .right .info >li >i{
    margin: 0px 10px 0px 0px;
    color: var(--maincolor);
}
.about .content .right .info >li a{
    text-decoration:none;
    position: relative;
    color: #000;
}
.about .content .right .info >li a::before{
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--maincolor);
    position: absolute;
    bottom: -1px;
    z-index: 10;
    transition: all ease-in-out 1.3s;
}
.about .content .right .info >li a:hover::before{
    width: 100%;
}

.about .content .right .info >li a:hover{
    color: var(--maincolor);
}
/* right info  END*/
/* right content End*/
/* content About ENd*/
/* About End */