/* style for all */
*,*::after,*::before{
    margin: 0; padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* Header in page */
header{
    padding: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
header h2{
    color: var(--maincolor);
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;


}
header h3{
    font-size: 30px;
    font-family: Poppins;
}
/* Header page End */
/* style for all End */
:root {
    --maincolor: #1e90ff;
}
body{
    position: relative;
}

/* cursor */
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--maincolor);
    left: 0;
    top: 0;
    z-index: 20;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .1s;
}
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: 20;
    pointer-events: none;
    background-color: var(--maincolor);
    transform: translate(-50%,-50%);
    transition: .15s all;

}
.cursor.active{
    background-color: var(--maincolor);
    opacity: .5;
    width: 80px;
    height: 80px;
}
.cursor2.active{
    display: none;
}
/* cursor ENd */
/* Nav */
nav{
    position:fixed;
    width: 100vw;
    height: 80px;
    z-index: 10;
    transition: all .3s ease;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav.animate{
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 9%);
}
/* nav-logo */
nav .nav-logo{
    width: 50%;
    height: 100%;
    font-family: montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
nav.animate .nav-logo{
    color: var(--maincolor);
}
/* nav-logo END*/
/* ul item nav */
nav .nav-item{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav .nav-item a{
    text-decoration: none;
    margin: 0px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
    font-family: Poppins;
    letter-spacing: .5px;
}
nav.animate .nav-item a{
    color: #000;
}
/*  nav item hover*/
nav .nav-item a:hover{
    color: var(--maincolor);
}
/* active a link current */
nav.animate .nav-item .active{
    color: var(--maincolor);
}
nav .nav-item .active{
    color: var(--maincolor);
}
/* ul End */
/* Nav End */
/* Home */
.home{
    background-image:url('../assets/1.jpg');
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home .background{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.home .content >*{
    overflow: hidden;
}
.home .content .image_wrap{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 33px;
    position: relative;
    z-index: 2;
    
}
.home .content .image_wrap .main{
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
.home .content .image_wrap .bg{
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.08);
    z-index: -2;
}

/* name */
.home .content .name{
    margin-top: 10px;
    margin-bottom: 10px;
}
.home .content .name p{
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 800;
    font-family: montserrat;
}
/* rol-job */
.home .content .rol-job {
    display: inline-flex;
}
.home .content .rol-job  .static-text{
    color: #eee;
    font-size: 60px;
    font-weight: 400;
}
.home .content .rol-job .dynamic-text{
    margin-left: 15px;
    color:var(--maincolor);
    font-size: 60px;
}
.dynamic-text > .txt {
    border-right: 1px solid var(--maincolor);
    animation: blink-caret .75s  infinite;
    color: var(--maincolor);
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    0%{ border-color: transparent }
    50% { border-color: var(--maincolor); }
}

/* Home  End */
/* About */
.about{
    width: 100vw;
    height: 100vh;
    padding: 10px 80px ;
}
.about > *{
    overflow: hidden;
}
/* content About */
.about .content{
    width: 100%;
    height: calc(100% - 200px);

}
/* left content */
.about .content .left{
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-bottom: 33px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.about .content .left .main{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid #fff;
    
}
.about .content .left .bg{
    position: absolute;
    content: "";
    top: 25px;
    bottom: 10px;
    left: 25px;
    right: 10px;
    /* background-color: var(--maincolor); */
    z-index: -2;
    border-radius: 1%;
    border: var(--maincolor) 10px dotted;
}
/* left content End*/
/* right content */
.about .content .right{
    width: 60%;
    height: 100%;
    float:right;
    padding: 10px;
}
.about .content .right h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Poppins;

}
.about .content .right  p{
    width: 80%;
    font-size: 16px;
    font-family: mulish;
}
.about .content .right  p span{
    color: var(--maincolor);
}
/* right info  */
.about .content .right .info{
    width: 60%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}
.about .content .right .info >li {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-family: mulish;
}
.about .content .right .info >li >i{
    margin: 0px 10px 0px 0px;
    color: var(--maincolor);
}
.about .content .right .info >li a{
    text-decoration:none;
    position: relative;
    color: #000;
    font-size: 13px;
}
.about .content .right .info >li a::before{
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--maincolor);
    position: absolute;
    bottom: -1px;
    z-index: 10;
    transition: all ease-in-out 1.3s;
}
.about .content .right .info >li a:hover::before{
    width: 100%;
}

.about .content .right .info >li a:hover{
    color: var(--maincolor);
}
/* right info  END*/

/* right content End*/

/* content About ENd*/

/* About End */

/* services   */
.services{
    width: 100vw;
    min-height:100vh;
    max-height: fit-content;
    padding: 10px 80px;
    background-color: #f9f9f9;
}
/* content services */
/* list */
.services  .content{
    list-style: none;
    width: 100%;
    min-height: calc(100% - 200px);
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* item */
.services .content  .item{
    margin: 10px 20px;
    width: 300px;
    height: 300px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.services .content  .item i{
    color: var(--maincolor);
}
.services .content .list .item .title{
    font-size: 18px;
    font-family: Poppins;
}
.services .content  .item p{
    font-size: 16px;
    font-family:mulish ;
}

/* list END */
/* content services  END*/
/* services   END */
/* my work  */
.mywork {
    width: 100vw;
    min-height:100vh;
    max-height: fit-content;
    padding: 10px 80px;
    background-color: #fff;
}
/* content */
.mywork .content{
    width: 100%;
    min-height: calc(100% - 200px);
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*  item  */
.mywork .content .item{
    width: 300px ;
    height: 300px;
    margin: 10px 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}
/* image */
.mywork .content .item .image{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease;
}
.mywork .content .item .image:hover{
    transform: scale(1.1) translateZ(0);
    cursor: pointer;
}
/* image END*/
/*  item  END */
/* content END  */
/* my work END */
/* Contact Me */
.contact {
    width: 100vw;
    min-height: 100vh;
    padding: 10px 80px;
}
/* form  */
.contact form{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;}
.contact form input,textarea{
    padding: 5px 10px;
    width: 80%;
    height: 40px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    font-family: poppins;
    margin: 10px 0px;
}
.contact form input:focus,textarea:focus{
    border: 1px solid rgba(0,0,0,1);
    outline: none;
}
.contact form textarea{
    width: 80%;
    height: 80px;
}
.contact form button{
    margin-top: 50px;
    width: 40%;
    height: 60px;
    background-color: var(--maincolor);
    border: none;
    color: #fff;
    font-family: montserrat;
    font-weight: 600;
    font-size: 22px;

}
.contact form button:hover{
    cursor: pointer;
    color: #000;
}

/* form  END*/
/* Contact Me END */
/* footer */
footer{
    width: 100vw;
    height: 200px;
    border: #000 1px solid;
    background-color: #000;
}
footer p{
    color: #fff;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    font-family: poppins;
}
footer ul{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer ul li{
    margin: 0px 10px;
}
footer ul li i{
    color: var(--maincolor);
}
footer ul li i:hover{
    color: #fff;
}
/* footer END */
/* for ipad */
@media screen and (max-width:900px){
        /* About */
    .about{
        height: fit-content;
    }
    /* content About */
    .about .content{
        width: 100%;
        min-height: calc(100% - 200px);
        height: fit-content;
    
    }
    /* left content */
    .about .content .left{
        width: 100%;
        height: 700px;
    }
    /* left content End*/
    /* right content */
    .about .content .right{
        width: 100%;
        height: 700px;
        float: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* right info  */
    .about .content .right .info{
        width: 80%;
    }
    /* right info  END*/
    /* right content End*/
    /* content About ENd*/
    /* About End */
    /* services   */
    .services .content  .item{
        margin: 10px 10px;
    }
    /* services   END */
    /* my Work */
    .mywork .content .item{
        margin: 10px 10px;
    }
    /* my work END */
    /* nav */
    nav .nav-logo{
        width: 30%;
    }
    nav .nav-item{
        width: 70%;
    }
    /* nav End */
}
/* for ipad END */
/* for moblie  */
@media screen and (max-width:500px){
    /* home  */
    .home .content .name p{
        font-size: 16px;
    }
    .home .content .rol-job  .static-text{
        font-size: 22px;
    }
    .home .content .rol-job .dynamic-text{
        font-size: 22px;
    }
    /* home  END */
       /* About */
    /* left content */
    .about .content .left{
        width: 100%;
        height: 300px;
    }
    /* left content End*/
    /* right content */
    .about .content .right{
        height: 500px;
    }
    .about .content .right h2{
        font-size: 14px;
        width: 100%;
    }
    .about .content .right p{
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
    }
    /* right info  */
    .about .content .right .info{
        width: 100%;
    }
    .about .content .right .info li{
        width: 100%;
    }
    /* right info  END*/
    /* right content End*/
    /* content About ENd*/
    /* About End */
    /* services   */
    .services{
        padding: 0px 0px;
    }
    .services .content{
        width: 100%;
    }
    .services .content  .item{
        width: 90%;
        margin: 10px 10px;
    }
    /* services   END */
    /* my workŸç */
    .mywork {
        padding: 0px 0px;
    }
    .mywork .content{
        width: 100%;
    }
    .mywork .content  .item{
        width: 90%;
        margin: 10px 10px;
    }
    /* my work END */
    /* contact */
    .contact{
        padding: 0px 0px;
        min-height: fit-content;
    }
    .contact form{
        margin-bottom: 100px;
    }
    /* contact END */
    /* Footer */
    footer p {
        width: 100%;
        height: 40px;
    }
    footer ul{
        width: 100%;
        height: calc(100% - 40px);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    /* Footer END */
}
/* for moblie  END */